{{ $ := .root }}
{{ $page := .page }}

<div class="section-heading col-12 mb-3 text-center">
    <h1 class="mb-0">{{ $page.Params.title }}</h1>
</div>

<div class="section-heading col-12 mb-3 text-center">
    <p class="mt-1">{{ $page.Params.subtitle }}</p>
</div>

<div class='container'>
    {{ range $index, $button := $page.Params.content.buttons }}
    {{ $image := resources.Get $button.image }}
        {{ if modBool $index $page.Params.rowCount }}
            <div class='row justify-content-between'>
        {{ end }}
        <div class='col text-center'>
            <a href='{{ $button.link }}'>
            <button class='btn text-white font-weight-bold'>
                <img src='{{ $image.Permalink }}' />
            </button>
            </a>
        </div>
        {{ if eq (mod $index $page.Params.rowCount) (sub $page.Params.rowCount 1) }}
        </div>
        {{ end }}
    {{end}}
</div>