{{ define "main" }}
  <!-- Pricing -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div
          class="mx-auto text-center lg:col-8"
          data-aos="fade-up-sm">
          <p class="mb-2 font-medium text-tertiary">
            {{ .Params.subtitle | markdownify }}
          </p>
          <h1 class="h2 mb-6">{{ .Params.title | markdownify }}</h1>
          <p class="text-lg ">
            {{ .Params.description | markdownify }}
          </p>
        </div>
        <div class="col-12 pt-20">
          {{ partial "components/pricing-plan.html" . }}
        </div>
      </div>
    </div>
  </section>

  <!--Brand Logo -->
  {{ partial "components/brand-logo.html" . }}
  <!--/Brand Logo -->

  <!-- Customer Reviews -->
  {{ with .Params.customer_reviews }}
    <section class="section">
      <div class="container">
        <div class="row">
          <div
            class="mx-auto text-center lg:col-8 xl:col-9"
            data-aos="fade-up-sm">
            <p class="mb-2 font-medium text-tertiary">
              {{ .subtitle | markdownify }}
            </p>
            <h2 class="mb-6">{{ .title | markdownify }}</h2>
            <p class="text-lg ">{{ .description | markdownify }}</p>
          </div>
          <div
            class="col-12 pt-20"
            data-aos="fade-up-sm"
            data-aos-delay="200">
            <div class="row g-4 justify-center">
              {{ $number := 3 }}
              {{ with site.GetPage "sections/customer-reviews" }}
                {{ $reviews := .Params.list | first $number }}
                {{ range $reviews }}
                  {{ partial "components/customer-reviews.html" . }}
                {{ end }}
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </section>
  {{ end }}
  <!-- /Customer Reviews -->

  <!-- Faq -->
  {{ partial "components/accordion.html" . }}
  <!-- /Faq -->

  <!-- Call to action -->
  {{ partial "call-to-action.html" . }}
  <!-- /Call to action -->
{{ end }}
