<div class="header-wrapper {{ if not .IsHome }}pb-5{{ end }}">
  <header class="header relative">
    <nav class="navbar container">
      <!-- logo -->
      <div class="order-0">
        <!-- navbar brand/logo -->
        <a class="navbar-brand block" href="{{ site.Home.RelPermalink }}">
          {{ partial "logo" }}
        </a>
      </div>
      <!-- navbar toggler -->
      <input id="nav-toggle" type="checkbox" class="hidden" />
      <label for="nav-toggle" class="order-3 cursor-pointer flex items-center lg:hidden text-text-dark  lg:order-1">
        <svg id="show-button" class="h-6 fill-current block" viewBox="0 0 20 20">
          <title>Menu Open</title>
          <path d="M0 3h20v2H0V3z m0 6h20v2H0V9z m0 6h20v2H0V0z"></path>
        </svg>
        <svg id="hide-button" class="h-6 fill-current hidden" viewBox="0 0 20 20">
          <title>Menu Close</title>
          <polygon points="11 9 22 9 22 11 11 11 11 22 9 22 9 11 -2 11 -2 9 9 9 9 -2 11 -2" transform="rotate(45 10 10)">
          </polygon>
        </svg>
      </label>
      <!-- /navbar toggler -->

      <!-- main navbar -->
      <ul id="nav-menu" class="navbar-nav order-3 hidden lg:flex w-full pb-6 lg:order-1 lg:w-auto lg:space-x-2 lg:pb-0 xl:space-x-8">
        {{ $currentPage := . }}
        {{ range site.Menus.main }}
        {{ $menuURL := .URL | absLangURL }}
        {{ $pageURL:= $currentPage.Permalink | absLangURL }}
        {{ $active := eq $menuURL $pageURL }}
        {{ if .HasChildren }}
        <li class="nav-item nav-dropdown group relative">
          <span class="nav-link {{ range .Children }}
                {{ $childURL := .URL | absLangURL }}
                {{ $active := eq $childURL $pageURL }}
                {{ if $active }}active{{ end }}
              {{ end }} inline-flex gap-1 items-center">
            {{ .Name }}
            <svg class="nav-dropdown-icon h-4 w-4 fill-current lg:group-hover:rotate-180 transition lg:rotate-0" viewBox="0 0 20 20">
              <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
            </svg>
          </span>
          <ul class="nav-dropdown-list lg:group-hover:visible lg:group-hover:opacity-100 lg:group-hover:translate-y-0 transition-all duration-300 lg:opacity-0 lg:translate-y-4 group-hover:opacity-100 group-hover:translate-y-0 max-w-[400px] mx-auto">
            {{ range .Children }}
            {{ $childURL := .URL | absLangURL }}
            {{ $active := eq $childURL $pageURL }}
            <li class="nav-dropdown-item">
              <a class="nav-dropdown-link {{ if $active }}
                      active
                    {{- end -}}" {{ if findRE `^http` .URL }} target="_blank" rel="noopener" {{ end }} href="{{- if findRE `^#` .URL -}}
                      {{- if not $.IsHome -}}
                        {{- site.Home.RelPermalink -}}
                      {{- end }}
                      {{- .URL -}}
                    {{- else -}}
                      {{- .URL | relLangURL -}}
                    {{- end -}}">
                {{ .Name }}
              </a>
            </li>
            {{ end }}
          </ul>
        </li>
        
        {{ else }}
        <li class="nav-item">
          <a class="nav-link {{ if $active }}active{{- end -}}" {{ if findRE `^http` .URL }} target="_blank" rel="noopener" {{ end }} href="{{- if findRE `^#` .URL -}}
                {{- if not $.IsHome -}}
                  {{- site.Home.RelPermalink -}}
                {{- end }}{{- .URL -}}
              {{- else -}}
                {{- .URL | relLangURL -}}
              {{- end -}}">{{ .Name }}</a>
        </li>
        {{ end }}
        {{ end }}
        {{ if site.Params.navigation_button.enable }}
        <li class="mt-4 inline-block lg:hidden">
          <a class="btn btn-dark mt-2 lg:hidden" href="{{ site.Params.navigation_button.link | relLangURL }}"> {{
            site.Params.navigation_button.label }} <span class="icon-wrapper">
              <span class="icon">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z">
                  </path>
                </svg>
              </span>
              <span class="icon" aria-hidden="true">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z">
                  </path>
                </svg> </span> </span> </a>
        </li>
        {{ end }}
      </ul>

      <div class="order-1 ml-auto flex items-center md:order-2 lg:ml-0">
        <!-- navigation btn -->
        {{ if site.Params.navigation_button.enable }}
        <a class="btn btn-dark hidden lg:flex" href="{{ site.Params.navigation_button.link | relLangURL }}">
          {{ site.Params.navigation_button.label }}
          <span class="icon-wrapper">
            <span class="icon">
              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z">
                </path>
              </svg>
            </span>
            <span class="icon" aria-hidden="true">
              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z">
                </path>
              </svg>
            </span>
          </span>
        </a>
        {{ end }}
      </div>
    </nav>

  </header>
  <div aria-hidden="true">
    {{ partial "image.html" (dict "Src" site.Params.header.bg_image "Alt" "Background Pattern" "Class" `pointer-events-none absolute top-0 -z-10 !h-full !w-full !object-cover object-[center_top]` "Resize" false) }}
  </div>
</div>