<div class="md:col-6 lg:col-4">
  <div
    class="flex min-h-full flex-col justify-start gap-8 rounded-xl bg-light p-6 md:rounded-3xl">
    <div class="flex justify-start gap-x-2">
      {{ range seq 1 5 }}
        <i class="fa-regular fa-star text-yellow-500 text-2xl"></i>
      {{ end }}
    </div>
    <div class="content prose-strong:text-xl">
      <div>{{ .content | markdownify }}</div>
    </div>
    <div class="flex flex-col gap-4 sm:flex-row">
      <div class="flex h-16 w-16 items-center overflow-hidden rounded-full">
        {{ partial "image" (dict "Src" .avatar "Alt" "avatar" "Class" `h-full w-full object-cover`) }}
      </div>
      <div>
        <strong class="mb-2 text-lg  font-medium"
          >{{ .name | markdownify }}</strong
        >
        <p>{{ .designation | markdownify }}</p>
      </div>
    </div>
  </div>
</div>
