{{ with site.GetPage "sections/essential-features" }}
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="mx-auto text-center lg:col-8" data-aos="fade-up-sm">
          <p class="mb-2 font-medium text-tertiary">
            {{ .Params.subtitle | markdownify }}
          </p>
          <h2 class="mb-6">{{ .Params.title | markdownify }}</h2>
          <p class="text-lg ">
            {{ .Params.description | markdownify }}
          </p>
        </div>
        <div class="col-12 pt-20">
          {{ with .Params.first_feature }}
            <div class="row gx-0 gy-5 mb-14 items-center last:mb-0 md:mb-28">
              <div class="lg:col-6" data-aos="fade-up-sm" data-aos-delay="100">
                <div
                  class="overflow-hidden rounded-3xl bg-light pl-14 pt-14">
                  {{ partial "image" (dict "Src" .image "Alt" "essential feature" "Class" "rounded-tl-3xl drop-shadow-lg") }}
                </div>
              </div>
              <div
                class="lg:ps-20 lg:col-6"
                data-aos="fade-up-sm"
                data-aos-delay="300">
                <h3 class="h4 mb-4">{{ .title | markdownify }}</h3>
                <p class="text-lg ">
                  {{ .description | markdownify }}
                </p>
                <div class="mt-10 flex flex-col gap-10 sm:flex-row xl:mt-20">
                  {{ range .sub_feature }}
                    <div>
                      <div
                        class="mb-3 flex h-12 w-12 items-center justify-center rounded-full bg-tertiary">
                        <i class="text-xl text-white {{ .icon }}"></i>
                      </div>
                      <h3 class="h6 mb-2 pt-3">{{ .title | markdownify }}</h3>
                      <p>{{ .description | markdownify }}</p>
                    </div>
                  {{ end }}
                </div>
              </div>
            </div>
          {{ end }}
          {{ with .Params.second_feature }}
            <div
              class="row gx-0 gy-5 mb-14 items-center last:mb-0 md:mb-28 max-lg:flex-col-reverse">
              <div
                class="md:order-2 lg:col-6"
                data-aos="fade-up-sm"
                data-aos-delay="100">
                <div
                  class="overflow-hidden rounded-3xl bg-light px-12 py-14">
                  {{ partial "image" (dict "Src" .image "Alt" "essential feature" "Class" "rounded-tl-3xl drop-shadow-lg") }}
                </div>
              </div>
              <div
                class="lg:pe-20 lg:col-6"
                data-aos="fade-up-sm"
                data-aos-delay="300">
                <h3 class="h4 mb-4">{{ .title | markdownify }}</h3>
                <ul class="list list-dark mt-10 flex flex-col gap-4">
                  {{ range .list }}
                    <li>
                      <p class="text-lg">{{ .item | markdownify }}</p>
                    </li>
                  {{ end }}
                </ul>
                {{ if .button.enable }}
                  <a class="btn btn-primary mt-12" href="{{ .button.link }}">
                    {{ .button.label | markdownify }}
                    <span class="icon-wrapper"
                      ><span class="icon"
                        ><svg
                          stroke="currentColor"
                          fill="currentColor"
                          stroke-width="0"
                          viewBox="0 0 448 512"
                          height="1em"
                          width="1em"
                          xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"></path></svg></span
                      ><span class="icon" aria-hidden="true"
                        ><svg
                          stroke="currentColor"
                          fill="currentColor"
                          stroke-width="0"
                          viewBox="0 0 448 512"
                          height="1em"
                          width="1em"
                          xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"></path></svg></span
                    ></span>
                  </a>
                {{ end }}
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </section>
{{ end }}
