<script type="text/javascript">
  if (window.location.protocol == "http:") {
      var restOfUrl = window.location.href.substr(5);
      if (!restOfUrl.substr(2).startsWith('localhost')) {
        window.location = "https:" + restOfUrl;
      }
  }
</script>


<!-- End of HubSpot code snippet -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js-eu1.hs-scripts.com/25488729.js"></script>
<!-- End of HubSpot Embed Code -->

<!-- Load in custom css -->
<link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}/css/custom.css" />


