{{/* Alkemio custom pricing block: Subscriptions */}}

{{ $page := .wcPage }}
{{ $block := .wcBlock }}

<h2 style="text-align:center"></h2>

<p style="text-align:center"></p>



<div class="columns">

  <ul class="price" style="border:0px;">

    <li class="header"></li>

    <li></li>

    <li></li>

    <li></li>

    <li style="text-align: right;">Start</li>

    <li style="text-align: right;">Monetize</li>

    <li style="text-align: right;">Grow</li>

    <li style="text-align: right;">Co-develop</li>

    <li style="text-align: right;">Number of admins</li>

  </ul>

</div>



<div class="columns">

  <ul class="price">

    <li class="header">Facilitator Plus</li>

    <li>Alkemio - the Consultants Tool</li>

    <li><a href="#" class="button">Get started</a></li>

<li></li>

<li>Run any process in a professional, structured way for all your clients</li>

    <li>Reselling Alkemio Spaces to your client</li>

    <li>Selling / licensing your Flows</li>

    <li>-</li>

    <li>Becoming an Alkemio accredited professional, driving new business coming from the platform</li>

    <li>Visibility of your work in high impact challenges on the platform</li>

    <li>Premium relationship, first 3 consultants deal, trusted partner</li>

    <li>Revenue share</li>

    <li>Stronger voice in the roadmap</li>

              <li class="grey"> / year</li>

  </ul>

</div>



<div class="columns">

  <ul class="price">

    <li class="header">Facilitator Premium</li>

        <li>placeholder text here and below</li>

    <li><a href="#" class="button">Get started</a></li>

    <li>Every Free feature, plus:</li>

    <li>100 members, unlimited visibility</li>

<li></li>

    <li>Create your private Best Practices Library, with 3 custom innovation flows, collaboration tool templates, and whiteboard templates</li>

    <li>Associate 1 lead organization per Challenge</li>

    <li>Curate your community with customized applications; 100 invitations / week</li>
	<li>Decide per Challenge if public or private</li>


    <li>5 Challenges within your Space</li>


    <li>2 hours of individual platform training</li>

              <li class="grey"> / year</li>

  </ul>

</div>


<h2 style="text-align:center"> Hosted in the EU.
  Bizarrely, society relies on digital platforms driven by private instead of public interests.
  On Alkemio data is not sold, attention is not sold.
  Algorithms are used to bring people together, encouraging inclusivity and diversity, instead of ads, clicks, profits and polarisation.

  Steward Owned and open source. In line with EU public values.
  </h2>
