{{/* Alkemio custom left-right block */}}

{{ $page := .wcPage }}
{{ $block := .wcBlock }}
{{ $bg := $block.design.background }}

<div class="row align-items-center">
  <div class="col-12 col-md-6">
    {{ with $block.content.title }}<div class="section-subheading article-title mb-0 mt-0">{{ . | markdownify }}</div>{{ end }}
    {{ with $block.content.subtitle }}<div class="article-style">{{ . | markdownify }}</div>{{ end }}
    {{ with $block.content.text }}<div class="article-style">{{ . | markdownify }}</div>{{ end }}
    <div class="btn-links">
    </div>
  </div>
  {{ with $block.content.image }}
  {{ $image := resources.Get (path.Join "media" .filename) }}
  <div class='col-12 col-md-6 {{ if eq .position "left" }} order-first {{ end }}'>
      <img src="{{  $image.RelPermalink }}" {{ if .width }} width="{{ .width }}" {{ end }} {{ if .height }} height="{{ .height }}" {{ end }} {{ if .alt }} alt="{{ .alt }}" {{ end }} loading="lazy">
  </div>

  {{ end }}
</div>