{{/* Wowchemy Sponsors' Blocks: Logos */}}
{{/* Documentation: https://wowchemy.com/blocks/ */}}
{{/* *** LICENSED TO WOWCHEMY SPONSORS ONLY - DO NOT REDISTRIBUTE *** */}}
{{/* Sponsor: https://wowchemy.com/sponsor/ */}}

{{ $page := .wcPage }}
{{ $block := .wcBlock }}
{{ $logo_folder := $block.content.logo_folder | default "" }}

<div class="row">

  {{ if or $block.content.title $block.content.subtitle }}
  <div class="col-12 justify-content-center text-center section-heading">
    {{ with $block.content.title }}<h1>{{ . | markdownify }}</h1>{{ end }}
    {{ with $block.content.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
  </div>
  {{ end }}

  <div class="col-12 justify-content-center">

    <div class="row text-center justify-content-center">
      {{ $images := resources.Match (printf "media/%s/*.{svg,png,webp}" $logo_folder) }}
      {{ range $images }}
        {{ $image := . }}
        {{- $isSVG := eq $image.MediaType.SubType "svg" -}}
        {{ if not $isSVG }}
          {{ $image = $image.Fit "77x77 webp drawing" }}
        {{ end }}
        <div class="col-md-3 col-6 d-flex align-items-center justify-content-center" style="padding-top: 50px;"> {{/* custom padding added */}}
          <img class="img-grayscale" src="{{$image.RelPermalink}}" alt="logo" {{if not $isSVG}}width="{{$image.Width}}" height="{{$image.Height}}"{{end}}>
        </div>
      {{ end }}
    </div>

  </div>
</div>
