{{ $page := .wcPage }}
{{ $block := .wcBlock }}

<div class="section-heading col-12 mb-3 text-center">
    <h1 class="mb-0">{{ $block.title }}</h1>
</div>

<div class="section-heading col-12 mb-3 text-center">
    <p class="mt-1">{{ $block.subtitle }}</p>
</div>

<div class='container'>
    {{ range $index, $button := $block.content.buttons }}
    {{ $image := resources.Get $button.image }}
        {{ if modBool $index $block.content.rowCount }}
            <div class='row justify-content-between'>
        {{ end }}
        <div class='col text-center'>
            <a href='{{ $button.link }}'>
            <button class='btn text-white font-weight-bold'>
                <img src='{{ $image.Permalink }}' />
            </button>
            </a>
        </div>
        {{ if eq (mod $index $block.content.rowCount) (sub $block.content.rowCount 1) }}
        </div>
        {{ end }}
    {{end}}
</div>
