{{/* Alkemio custom pricing block: Subscriptions */}}

{{ $page := .wcPage }}
{{ $block := .wcBlock }}

<div class="row">
  {{ if or $block.content.title $block.content.subtitle }}
  <div class="col-12 justify-content-center text-center section-heading">
    {{ with $block.content.title }}<h2>{{ . | markdownify }}</h2>{{ end }}
    {{ with $block.content.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
  </div>
  {{ end }}
</div>

<div class="subscriptions row grid-container">
  {{ range $plan := $block.content.plans }}
    <div class="column features-titles">
      <ul>
        {{ range $feat := $block.content.features }}
        <li>
          {{ $feat | safeHTML }}
        </li>
        {{ end }}
      </ul>
    </div>
    <div class="column card">
      <h5 class="card-title text-muted text-uppercase text-center">{{ .title | emojify | markdownify | safeHTML }}</h5>
      <div class="font-weight-bold text-center">{{ .highlight | emojify | markdownify | safeHTML }}</span></div>
      <hr>
      <p class="description">{{ .description | emojify | markdownify | safeHTML }}</p>
      <a href="{{ .button.url }}" class="button">{{ .button.text }}</a>
      <p class="features-title">{{ .featuresTitle | emojify | markdownify | safeHTML }}</p>
      <ul class="features-list">
        {{ range $i, $r := .features }}
        <li>{{ . | emojify | markdownify | safeHTML }}</li>
        {{ end }}
      </ul>
      {{ if .price }}
      <div class="grey-bottom">
        <h6 class="card-price text-center">{{ .price }}<span class="period">{{ .period }}</span></h6>
        <a href="{{ .button.url }}" class="button">{{ .button.text }}</a>
      </div>
      {{ end }}
    </div>
  {{ end }}
</div>
