

/* Header */
.header {
  @apply bg-transparent py-6;
}

/* Navbar Items */
.navbar {
  @apply relative flex flex-wrap items-center justify-between;
}

.navbar-brand {
  @apply text-text-dark text-xl font-semibold;
  image {
    @apply max-h-full max-w-full;
  }
}

.navbar-nav {
  @apply text-center lg:text-left;
}

.nav-link {
  @apply text-text hover:text-tertiary block p-3 cursor-pointer font-medium transition lg:px-2 lg:py-3;
}

.nav-dropdown {
  @apply mr-0;
  & > svg {
    @apply pointer-events-none;
  }
  &.active {
    .nav-dropdown-list {
      @apply block;
    }
  }
}

.nav-dropdown-list {
  @apply bg-body z-10 min-w-[180px] rounded p-4 shadow-sm hidden lg:invisible lg:absolute lg:block lg:opacity-0 border border-border;
}

.nav-dropdown-item {
  @apply mb-2;
}

.nav-dropdown-link {
  @apply text-text hover:text-tertiary block py-1 font-medium transition;
}
