.rounded-sm {
  @apply rounded-[4px];
}
.rounded {
  @apply rounded-[6px];
}
.rounded-lg {
  @apply rounded-[12px];
}
.rounded-xl {
  @apply rounded-[16px];
}

.shadow {
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
}
.shadow-sm {
  box-shadow: 0 4px 8px #0000000d;
}
.g-5{
  --bs-gutter-y: 2rem;
  --bs-gutter-x: 2rem;
}

.copyright {
  & > a {
    @apply underline transition duration-300;
    &:hover {
      @apply text-tertiary;
    }
  }
}