{{ define "main" }}
  <!-- Banner -->
  {{ with .Params.banner }}
    <section class="pb-0 pt-16">
      <div class="container">
        <div class="row justify-center">
          <div class="mb-8 text-center md:col-9 lg:col-11">
            <h1 class="mb-4 text-h3 lg:text-h1" data-aos="fade-up-sm">
              {{ .title | markdownify }}
            </h1>
            <p class="mb-8 text-lg " data-aos="fade-up-sm">
              {{ .description | markdownify }}
            </p>
            {{ with .button }}
              <ul class="flex flex-wrap justify-center gap-4">
                {{ if .get_started.enable }}
                  <li data-aos="fade-up-sm" data-aos-delay="100">
                    <a
                      class="btn-primary btn"
                      href="{{ .get_started.link }}"
                      target="_self"
                      rel="noopener">
                      {{ .get_started.label | markdownify }}
                      <span class="sr-only">Details</span>
                      <span class="icon-wrapper"
                        ><span class="icon">
                          <svg
                            stroke="currentColor"
                            fill="currentColor"
                            stroke-width="0"
                            viewBox="0 0 448 512"
                            height="1em"
                            width="1em"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"></path>
                          </svg>
                        </span>
                        <span class="icon" aria-hidden="true"
                          ><svg
                            stroke="currentColor"
                            fill="currentColor"
                            stroke-width="0"
                            viewBox="0 0 448 512"
                            height="1em"
                            width="1em"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"></path>
                          </svg>
                        </span>
                      </span>
                    </a>
                  </li>
                {{ end }}
                {{ if .learn_more.enable }}
                  <li data-aos="fade-up-sm" data-aos-delay="150">
                    <a
                      class="btn-outline-primary btn "
                      href="{{ .learn_more.link }}"
                      target="_self"
                      rel="noopener">
                      {{ .learn_more.label | markdownify }}
                      <span class="sr-only">Details</span
                      ><span class="icon-wrapper"
                        ><span class="icon"
                          ><svg
                            stroke="currentColor"
                            fill="currentColor"
                            stroke-width="0"
                            viewBox="0 0 448 512"
                            height="1em"
                            width="1em"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"></path></svg></span
                        ><span class="icon" aria-hidden="true"
                          ><svg
                            stroke="currentColor"
                            fill="currentColor"
                            stroke-width="0"
                            viewBox="0 0 448 512"
                            height="1em"
                            width="1em"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"></path></svg></span
                      ></span>
                    </a>
                  </li>
                {{ end }}
              </ul>
            {{ end }}
          </div>
          {{ with .image }}
            <div
              class="col-12 lg:pt-2 order-2 "
              data-aos="fade-up-sm"
              data-aos-delay="400">
              <div class="max-h-[510px] overflow-hidden">
                {{ partial "image" (dict "Src" .main "Alt" "Banner" "Class" "w-full" "Resize" false) }}
              </div>
            </div>
            <div class="col-12 pb-4 pt-16 lg:pb-0 order-1">
              <div
                class="flex flex-wrap justify-center gap-4 px-4 lg:flex-nowrap lg:justify-between lg:px-0">
                <div
                  class="lg:mt-8 [&amp;.aos-animate]:lg:rotate-[-9.4deg]!"
                  data-aos="fade-in"
                  data-aos-duration="400"
                  data-aos-delay="200">
                  {{ partial "image" (dict "Src" .left "Alt" "Banner left" "Class" `min-[350px]:h-[80px]! lg:h-[72px]! shadow-sm rounded-md md:rounded-xl w-auto` "Resize" false) }}
                </div>
                <div
                  class="[&amp;.aos-animate]:lg:rotate-[2.57deg]!"
                  data-aos="fade-in"
                  data-aos-duration="400"
                  data-aos-delay="350">
                  {{ partial "image" (dict "Src" .middle "Alt" "Banner middle" "Class" `shadow-sm min-[350px]:h-[80px]! lg:h-[98px]! rounded-md md:rounded-xl w-auto` "Resize" false) }}
                </div>
                <div
                  class="[&amp;.aos-animate]:lg:rotate-[-8.52deg]!"
                  data-aos="fade-in"
                  data-aos-duration="400"
                  data-aos-delay="500">
                  {{ partial "image" (dict "Src" .right "Alt" "Banner right" "Class" `shadow-sm min-[350px]:h-[80px]! lg:h-[84px]!
                    rounded-md md:rounded-xl w-auto` "Resize" false)
                  }}
                </div>
              </div>
            </div>
          {{ end }}
        </div>
      </div>
      <div class="">
        {{ partial "image" (dict "Src" .image.bg_image "Alt" "Background Pattern" "Class" `pointer-events-none absolute top-0 -z-10 !h-full lg:!h-auto w-full !object-cover object-[center_top]` "Resize" false) }}
      </div>
    </section>
  {{ end }}
  <!-- /Banner -->

  <!-- Brand Logo -->
  {{ partial "components/brand-logo.html" . }}
  <!-- /Brand Logo -->

  <!-- How it Works -->
  {{ with .Params.how_it_works }}
    <section class="section bg-white">
      <div class="container">
        <div class="row">
          <div class="mx-auto text-center lg:col-10" data-aos="fade-up-sm">
            <p class="mb-2 text-tertiary font-medium">
              {{ .subtitle | markdownify }}
            </p>
            <h2 class="mb-6">{{ .title | markdownify }}</h2>
            <p class="text-lg ">{{ .description | markdownify }}</p>
          </div>
          <div class="col-12 pt-20">
            <div class="row g-4 justify-center">
              {{ range .features }}
                <div
                  class="md:col-6 lg:col-4"
                  data-aos="fade-up-sm"
                  data-aos-delay="0">
                  <div
                    class="min-h-full rounded-xl bg-light px-6 py-12 text-center md:rounded-3xl">
                    <div
                      class="mx-auto mb-3 flex h-12 w-12 items-center justify-center rounded-full bg-tertiary">
                      <i class="text-xl object-cove text-white {{ .icon }}"></i>
                    </div>
                    <h3 class="h5 mb-2">{{ .title | markdownify }}</h3>
                    <p>{{ .description | markdownify }}</p>
                  </div>
                </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </section>
  {{ end }}
  <!-- /How it Works -->

  <!-- Key Features -->
  {{ partial "components/key-features.html" . }}
  <!-- /Key Features -->

  <!-- Essential Features -->
  {{ partial "components/essential-features.html" . }}
  <!-- /Essential Feature -->

  <!-- Explained Features -->
  <section class="section">
    <div class="container">
      <div class="row">
        {{ with .Params.explained_features }}
          <div
            class="mx-auto text-center lg:col-10 xl:col-7"
            data-aos="fade-up-sm">
            <p class="mb-2 font-medium text-tertiary">
              {{ .subtitle | markdownify }}
            </p>
            <h2 class="mb-6">{{ .title | markdownify }}</h2>
            <p class="text-lg ">{{ .description | markdownify }}</p>
          </div>
        {{ end }}
        <div class="col-12 pt-20">
          {{ partial "components/explained-features.html" . }}
        </div>
      </div>
    </div>
  </section>
  <!-- /Features Explained -->

  <!-- Customer Reviews -->
  {{ with .Params.customer_reviews }}
    <section class="section">
      <div class="container">
        <div class="row">
          <div
            class="mx-auto text-center lg:col-8 xl:col-9"
            data-aos="fade-up-sm">
            <p class="mb-2 font-medium text-tertiary">
              {{ .subtitle | markdownify }}
            </p>
            <h2 class="mb-6">{{ .title | markdownify }}</h2>
            <p class="text-lg ">{{ .description | markdownify }}</p>
          </div>
          <div
            class="col-12 pt-20"
            data-aos="fade-up-sm"
            data-aos-delay="200">
            <div class="row g-4 justify-center">
              {{ $number := 3 }}
              {{ with site.GetPage "sections/customer-reviews" }}
                {{ $reviews := .Params.list | first $number }}

                {{ range $reviews }}
                  {{ partial "components/customer-reviews.html" . }}
                {{ end }}
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </section>
  {{ end }}
  <!-- /Customer Reviews -->

  <!-- Pricing -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div
          class="mx-auto text-center lg:col-8"
          data-aos="fade-up-sm">
          <p class="mb-2 font-medium text-tertiary">
            {{ .Params.pricing.subtitle | markdownify }}
          </p>
          <h1 class="h2 mb-6">{{ .Params.pricing.title | markdownify }}</h1>
          <p class="text-lg ">
            {{ .Params.pricing.description | markdownify }}
          </p>
        </div>
        <div class="col-12 pt-20">
          {{ partial "components/pricing-plan.html" . }}
        </div>
      </div>
    </div>
  </section>
  <!-- /Pricing -->

  <!-- Call to action -->
  {{ partial "call-to-action.html" . }}
  <!-- /Call to action -->
{{ end }}
